In [3]:
#REMINDERS 
#1. Python package installs need to happen in your device terminal, depending on what you're using, there are multiple ways
#to get to the terminal, but most universal is to search "Terminal" in the device

#For these exercises, you will need to install pandas, paste this command in the terminal:
# > pip install pandas

#2. Each time you start-up you need to load the packages in order to use the functions within them 
# #import packages
import pandas as pd
import os

In [15]:
employee_payroll = pd.read_csv('datasets/Employee_Payroll2.csv')

#1. len: to count all the rows in the table
print(len(employee_payroll))

#Count rows of employees that are male
print(len(employee_payroll.loc[employee_payroll.Employee_Gender == "M"]))


#2. SUM: to calculate the sum of all the instances in a column
print(sum(employee_payroll.Salary))


#3. MAX: maximum value of an attribute
print(max((employee_payroll.loc[employee_payroll.Employee_Gender == 'F']).Salary))


#4. MIN: minimum value of an attribute
print(min((employee_payroll.loc[employee_payroll.Employee_Gender == 'M']).Salary))


#5. AVERAGE: to calculate the average of all the instances in a column
print(employee_payroll.Salary.mean())

# alt average calc
print(sum(employee_payroll.Salary)/len(employee_payroll))

424
233
16129600
207885
22710
38041.50943396227
38041.50943396227

In [39]:
# BIG BANG THEORY Exercise

# DOWNLOAD THE FILE "bigbangtheory.xlsx" FROM CANVAS

bigbang = pd.read_excel('datasets/bigbangtheory.xlsx') 
bigbang.info()
bigbang.head()

#1. How many characters are in the cast?  How many female characters?
print(pd.DataFrame({"cast_size": [len(bigbang)], "female_count": [len(bigbang.loc[bigbang.gender == "Female"])]}))

#2. What are the occupations of characters?
print(bigbang.job.unique())


# #3. What is the average IQ of the cast?
print(bigbang.IQ.mean())

# #4. What is the mean IQ of the males?
print(bigbang.loc[bigbang.gender == "Male"].IQ.mean())


#5. What is the mean IQ of the biologists?
print(bigbang.loc[bigbang.job.str.contains('biologist', case = False)].IQ.mean())



#GROUP BY example
#Note --> group by is A LOT easier to understand and do in SQL than it is in Python. It's such a nightmare in Python ToT

## USING THE BIGBANGTHEORY DATA, DISPLAY THE MEAN IQ BY GENDER, AND JOB
print(bigbang.groupby(["gender", "job"], as_index = False)["IQ"].mean())


## USING THE BIGBANGTHEORY DATA, DISPLAY THE MEAN IQ FOR THE OCCUPATIONS WITH AN IQ GREAT THAN 170
grouped_bigbang = bigbang.groupby('job', as_index = False)['IQ'].mean()
print(grouped_bigbang[grouped_bigbang.IQ > 170])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      7 non-null      int64
 1   name    7 non-null      object
 2   IQ      7 non-null      int64
 3   gender  7 non-null      object
 4   job     7 non-null      object
dtypes: int64(2), object(3)
memory usage: 412.0+ bytes
   cast_size  female_count
0          7             3
['Physicist' 'Neurobiologist' 'Astrophysicist' 'Microbiologist' 'Engineer'
 'Sales Rep']
163.28571428571428
174.5
175.0
   gender             job     IQ
0  Female  Microbiologist  170.0
1  Female  Neurobiologist  180.0
2  Female       Sales Rep   95.0
3    Male  Astrophysicist  178.0
4    Male        Engineer  160.0
5    Male       Physicist  180.0

              job     IQ
0  Astrophysicist  178.0
3  Neurobiologist  180.0
4       Physicist  180.0

In [53]:
#Ifs and text search


## WORKSHOP QUESTION
#CONDITIONAL BONUS 
#You need to modify the previous bonus report to conditionally calculate bonuses based on the employeeâ€™s job title. 
#Level I employees receive a 5% bonus.
#Level II employees receive a 7% bonus.
#Level III employees receive a 10% bonus.
#Level IV employees receive a 12% bonus.
#All others receive an 8% bonus.
#The Staff table contains all of the information that you need to create this report.

staff = pd.read_csv("datasets/Staff.csv")
staff.head()

#For this exercise, I'm going to use a tokenize approach because it's the most robust way to do this, but it is more advanced than the version taught in class
#Although, I can create something similar to what we did in class as the second option
#As you will see, doing this in Python without SQL CASE WHEN is also an utter nightmare

#Tokenize approach (non-for loop)
staff['job_tokens'] = staff.Job_Title.apply(lambda x: x.split())

##Function definition
def bonus_calc(row):
    job_tok = row['job_tokens']
    salary = row['Salary']
    
    if "IV" in job_tok:
        return salary*0.12
    elif "III" in job_tok:
        return salary*0.1
    elif "II" in job_tok:
        return salary*0.07
    elif "I" in job_tok:
        return salary*0.05
    else:
        return salary*0.08

staff["Bonus"] = staff.apply(bonus_calc, axis = 1)
staff.drop(columns='job_tokens', inplace = True)
print(staff.Bonus)

0      13043.20
1       8660.40
2       7038.00
3       3698.40
4       1355.50
         ...
419     6680.40
420     6740.80
421     2932.00
422     2040.15
423     3705.10
Name: Bonus, Length: 424, dtype: float64

In [60]:
#INSTR() parallel approach
staff = pd.read_csv("datasets/Staff.csv")

def instr_calc(row):
    job_str = row['Job_Title']
    salary = row['Salary']
    
    if job_str.find("IV") != -1:
        return salary*0.12
    elif job_str.find("III") != -1:
        return salary*0.1
    elif job_str.find("II") != -1:
        return salary*0.07
    elif job_str[4:].find("I") != -1:
        return salary*0.05
    else:
        return salary*0.08
    
staff["Bonus"] = staff.apply(instr_calc, axis = 1)
print(staff.Bonus)



#Note: When using the tokenize approach, the order of the conditionals (if statements) actually won't matter because the function is
#robust enough. However, for INSTR parallel approach, logic still needs to go from most difficult first down to easiest.

0      13043.20
1       8660.40
2       7038.00
3       3698.40
4       1355.50
         ...
419     6680.40
420     6740.80
421     2932.00
422     2040.15
423     3705.10
Name: Bonus, Length: 424, dtype: float64

# Extra Practice Question

In [67]:
## THE WRITING TEAM HAS DECIDED TO GIVE JOKES TO THE BIG BANG THEORY CHARACTERS BASED ON THEIR JOB.  
# #WRITE A ROUTINE USING "CASE" AND "INSTR" TO ASSIGN THE NUMBER OF JOKES ACCORDING TO THIS RULE:  
# PHYSICISTS GET 8 JOKES, BIOLOGISTS GET 10 JOKES, EVERYONE ELSE GETS 5 JOKES.
## DISPLAY THE NAME, JOB AND NUMBER OF JOKES

bigbang = pd.read_excel('datasets/bigbangtheory.xlsx') 

def joke_dist(occ):
    lower_occ = occ.lower()
    if "physicist" in lower_occ:
        return 8
    elif "biologist" in lower_occ:
        return 10
    else:
        return 5

bigbang_subset = bigbang.loc[:, ['name', 'job']]
bigbang_subset['num_jokes'] = bigbang_subset.job.apply(joke_dist)

bigbang_subset

        name             job  num_jokes
0    Sheldon       Physicist          8
1        Amy  Neurobiologist         10
2    Leonard       Physicist          8
3        Raj  Astrophysicist          8
4  Bernadett  Microbiologist         10
5     Howard        Engineer          5
6      Penny       Sales Rep          5