In [104]:
#REMINDERS 
#1. Python package installs need to happen in your device terminal, depending on what you're using, there are multiple ways
#to get to the terminal, but most universal is to search "Terminal" in the device

#For these exercises, you will need to install pandas, paste this command in the terminal:
# > pip install pandas

#2. Each time you start-up you need to load the packages in order to use the functions within them 
# #import packages
import pandas as pd
import os

In [105]:
# this is your first Python routine

# to run this code, select the text and press Shift + Enter (for Mac) or CTRL + Enter (for Windows)

print('Hello')

#get working directory code
os.getcwd()

#to change working directory, do:
#os.chdir("directory path")

Hello

'/Users/glennawang/Desktop/IMC Python'

In [106]:
# sample pandas read_csv file code 
pd.read_csv('datasets/Sales2.csv')

,Employee_ID,First_Name,Last_Name,Gender,Salary,Job_Title,Country,Birth_Date,Hire_Date
0,120102,Tom,Zhou,M,108255,Sales Manager,AU,8/11/69,6/1/89
1,120103,Wilson,Dawes,M,87975,Sales Manager,AU,1/22/49,1/1/74
2,120121,Irenie,Elvish,F,26600,Sales Rep. II,AU,8/2/44,1/1/74
3,120122,Christina,Ngan,F,27475,Sales Rep. II,AU,7/27/54,7/1/78
4,120123,Kimiko,Hotstone,F,26190,Sales Rep. I,AU,9/28/64,10/1/85
...,...,...,...,...,...,...,...,...,...
160,121139,Diosdado,Mckee,F,27700,Sales Rep. II,US,8/19/59,7/1/87
161,121140,Saunders,Briggi,M,26335,Sales Rep. I,US,1/23/79,4/1/01
162,121143,Louis,Favaron,M,95090,Senior Sales Manager,US,11/26/69,7/1/97
163,121144,Renee,Capachietti,F,83505,Sales Manager,US,6/28/64,11/1/91
164,121145,Dennis,Lansberry,M,84260,Sales Manager,US,11/22/49,4/1/76

In [107]:
#assign a data frame called irisdata
irisdata = pd.read_csv('datasets/irisdata.csv')

#use the .info() function to display the fields and structure within a defined data frame
irisdata.info()

#display the top n rows
irisdata.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [108]:
#display all columns in irisdata, but limit number of rows to 5
print(irisdata.head(5))

# to know the number of instances in the table
# to count number of rows in the table, count(*) function of sql is used, 
# it will display number of rows in the table
print(len(irisdata))

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
150

In [109]:
# .loc conditionals
#.loc is by default .loc[:,:], with : meaning get all (same as * in SQL), first number is rows, and second is columns
#when you have only a conditional in .loc, it will refer to row conditionals, so it will filter out to get rows while still
#keeping all the columns

# display all the data related to iris flowers that are of virginica species
irisdata.loc[irisdata.species == 'virginica']

#display all the data related to iris flowers that have sepal length greater than 1.5
irisdata.loc[irisdata.sepal_length > 1.5]

# LOGICAL OPERATORS
# now, display all data related to iris flowers that are of virginica species and also have Sepal.Length greater than 7.0
irisdata.loc[(irisdata.species == 'virginica') & (irisdata.sepal_length > 7)]

     sepal_length  sepal_width  petal_length  petal_width    species
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [110]:
# Can't ignore strings
# keyword matching is a lot more complicated in Python, though, because of regex rules, so I won't be using regex
#if you're interested in learning more about it, you can reach out to me directly


# multiple characters
### display rows with Species "setosa"
irisdata[irisdata.species.str.startswith('set')]


### display rows with Species "versicolor"
irisdata[irisdata.species.str.endswith('color')]

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [112]:
# I just want Petal Length and Petal Width

irisdata.loc[:, ['petal_length', 'petal_width']]

# I want to give my own names to the columns
# It's impractical to do this the same way in Python as we did in SQL, I can show you both ways, but since Python is for coding,
#we will usually just save the changed name into the dataframe directly or create a new variable to store it

#SQL way
irisdata.loc[:, ['petal_length', 'petal_width']].rename(columns = {'petal_length': 'PLeng', 'petal_width': 'PWidth'})
#Kind of dumb right

#2 other ways
#Replace in same variable
#irisdata.rename(columns = {'petal_length': 'PLeng', 'petal_width': 'PWidth'}, inplace = True)


#Make a new variable (best practice)
irisdata_renamed = irisdata.rename(columns = {'petal_length': 'PLeng', 'petal_width': 'PWidth'})
irisdata_renamed

     sepal_length  sepal_width  PLeng  PWidth    species
0             5.1          3.5    1.4     0.2     setosa
1             4.9          3.0    1.4     0.2     setosa
2             4.7          3.2    1.3     0.2     setosa
3             4.6          3.1    1.5     0.2     setosa
4             5.0          3.6    1.4     0.2     setosa
..            ...          ...    ...     ...        ...
145           6.7          3.0    5.2     2.3  virginica
146           6.3          2.5    5.0     1.9  virginica
147           6.5          3.0    5.2     2.0  virginica
148           6.2          3.4    5.4     2.3  virginica
149           5.9          3.0    5.1     1.8  virginica

[150 rows x 5 columns]

In [120]:
# I want to know unique species of iris flower
irisdata.species.unique()

# Let's sort Petal Length in ascending order
# use sort_values to sort the values in a column
irisdata.sort_values(by = 'petal_length').head(25)

# now in descending order
irisdata.sort_values(by = 'petal_length', ascending = False).head(25)

## We can also create new columns and perform calculations, a lot easier to do in Python
irisdata['ratio'] = irisdata.petal_length/irisdata.petal_width

#now sorting by both columns
irisdata.sort_values(by = ['petal_length', 'petal_width'], ascending = False).head(25)

     sepal_length  sepal_width  petal_length  petal_width    species     ratio
118           7.7          2.6           6.9          2.3  virginica  3.000000
117           7.7          3.8           6.7          2.2  virginica  3.045455
122           7.7          2.8           6.7          2.0  virginica  3.350000
105           7.6          3.0           6.6          2.1  virginica  3.142857
131           7.9          3.8           6.4          2.0  virginica  3.200000
107           7.3          2.9           6.3          1.8  virginica  3.500000
109           7.2          3.6           6.1          2.5  virginica  2.440000
135           7.7          3.0           6.1          2.3  virginica  2.652174
130           7.4          2.8           6.1          1.9  virginica  3.210526
100           6.3          3.3           6.0          2.5  virginica  2.400000
125           7.2          3.2           6.0          1.8  virginica  3.333333
143           6.8          3.2           5.9          2.3  virginica  2.565217
102           7.1          3.0           5.9          2.1  virginica  2.809524
104           6.5          3.0           5.8          2.2  virginica  2.636364
108           6.7          2.5           5.8          1.8  virginica  3.222222
129           7.2          3.0           5.8          1.6  virginica  3.625000
144           6.7          3.3           5.7          2.5  virginica  2.280000
120           6.9          3.2           5.7          2.3  virginica  2.478261
124           6.7          3.3           5.7          2.1  virginica  2.714286
136           6.3          3.4           5.6          2.4  virginica  2.333333
140           6.7          3.1           5.6          2.4  virginica  2.333333
132           6.4          2.8           5.6          2.2  virginica  2.545455
128           6.4          2.8           5.6          2.1  virginica  2.666667
103           6.3          2.9           5.6          1.8  virginica  3.111111
134           6.1          2.6           5.6          1.4  virginica  4.000000